RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-i

# Esconde o arquivo de variáveis de configuração
<Files .ENV>
    Order allow,deny
    Deny from all
</Files>


RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
