RewriteEngine On

# Impede o acesso direto ao arquivo .env
RewriteRule ^\.env$ - [R=404,L]

# Verificar se o arquivo ou diretório não existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecionar para o arquivo index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]